*{
  margin:0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, li, a{
  color: yellow;
  opacity: 0.9;
  text-align: center;
}
html{
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
}

html::-webkit-scrollbar-thumb{
  background-color: yellow;
}

header{
  height: 69px;
  border-bottom: 1px solid yellow;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: black;
}

header img{
  height: 50px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
}

header h1{
  display: inline-block;
  position: absolute;
  left: 70px;
  top: 15px;
}

.container{
  position: relative;
  top: 75px;
  width: 100%;
  height: 850px;
  margin: auto;
}

.content {
  width: 25%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
  display: inline-block;
  direction: rtl;
}

.flipper { direction: ltr;}

.openposts {
  position: absolute;
  width: 75%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  overflow-y: scroll;
}