*{
  margin:0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, li, a{
  color: yellow;
  opacity: 0.9;
  text-align: center;
}
html{
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
}

header{
  height: 69px;
  border-bottom: 1px solid yellow;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: black;
}

header img{
  height: 50px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
}

header h1{
  display: inline-block;
  position: absolute;
  left: 70px;
  top: 15px;
}

.content {
  position: relative;
  top: 75px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}