.newpost{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.newpost .button{
    margin: 20px 0 20px 20px;
    background-color: yellow;
    height: 50px;
    width: 50px;
    font-size: 40px;
    font-weight: bold;
    font: Helvetica;
    border-radius: 60px;
    border-width: 0px;
}

.newpost .container{
    width: 300px;
    height: 300px;
    display: block;
    background-image: url('../Post/postit.png');
    background-color: yellow;
    background-size: 100%;
    color: black;
    margin-top: 10px;
    overflow: auto;
}

.newpost .container .buttonscontainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
}

.newpost .container .buttonscontainer .submit{
    background-color: black;
    color: yellow;
    width: 90px;
    height: 1.1rem;
    border-radius: 10px;
    border-width: 0;
    font-size: 18px;
    font-weight: bold;
    margin-right: 0.1rem;
    margin-top: 0.1rem;
}

.newpost .container .editor{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.newpost .container .editor input{
    height: 30px;
    font-size: 22px;
    margin-bottom: 1rem;
    background-color:rgba(0, 0, 0, 0);
    border-color: black;
    border-width: 0.1rem;
    padding: 0.2rem;
}

.newpost .container .editor textarea{
    background-color: rgba(0, 0, 0, 0);
    border-color: black;
    border-width: 0.1rem;
    padding: 0.5rem;
    font-size: 0.6rem;
    height: 12.5rem;
}